*{
  margin:0px;
  padding:0px;
  font-family: sans-serif;
}

.Main-container{
  background-color:#ffffff;
}

.navbar{
  display:flex;
  padding:0px;
}

.logo{
  padding:4px;
}

.logo-slogns{
  display: inline-block;
  margin-top:3px;
}

.search{
  display: flex;
  align-self: center;
  align-items: center;
  background-color:rgb(238,238,238);
  border-radius: 17px;
  flex-grow: 1;
  margin:0px 15px;
}

.search input{
  border:none;
  outline: none;
  background-color:rgb(238,238,238);
  padding:10px 6px;
  width:100%;
}

.SearchIcon{
  padding:0px 5px 0px 10px;
}

.lens{
  margin-top:1px;
  color:grey;
  padding:0px 12px 0px 4px;
}

.Awards{
  display: flex;
  padding:0px 14px;
}
.Awards::after{
  content:"";
  border-right: 1px solid #333;
  margin:0px 5px 0px 10px;
}

.Hamburger{
  padding:0px 18px 0px 10px;
}

.photo-btn{
  padding: 8px;
  border:1px solid #cccac7;
  color:#767676;
  background-color: transparent;
  margin:0px 10px;
}

.container{
  display: flex;
}

.Side-menu{
  align-items: center;
  color:#767676;
}

.Side-menu:last-of-type {
  margin-left: auto;
}

.subMenu{
  display: flex;
  cursor: pointer;
  color:#767676;
  font-size: 15px;
  overflow-y:auto;
}
.subMenu span{
  margin:8px 6px 0px 6px;
  padding:15px 7px;
  white-space: nowrap;
}
.subMenu .active{
  border-bottom:3px solid #333;
}

.Banner{
  position: relative;
  width:100%;
  height:600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text{
  color:#ffffff;
}

.banner-center-text{
  position: absolute;
  right:50%;
  top:50%;
  transform: translate(50%,-80%);
}

.banner-text h1{
  font-size: 45px;
  margin:15px 0px;
}

.banner-text h3+h3{
  margin: 5px 0px 25px 0px;
}

.banner-text p{
  margin: 20px 0px;

}

.banner-text input{
  width: 800px;
  height: 45px;
  border-radius: 8px;
  margin: -2px;
  
} 

.banner-bottom-text{
  width:100%;
  font-size: 13px;
  margin: 20px;
  position: absolute;
  bottom: 0;
}

.bottom-text-align{
  display: flex;
  justify-content: space-between; 
}

.Awards-box{
  background-color: #333;
  text-align: center;
  color:#ffffff;
  padding:18px;
  margin-bottom:20px;
}


.Editorial-container{
  width:100%;
  margin-top:20px;
}

.Editorial-subContainer{
  max-width: 1200px;
  margin: 0px auto;
}


.img-grid{
  display: grid;
  grid-template-columns: repeat(3,auto); 
  grid-gap:6px;
  justify-content: center;
}

.box{
  background-color: cadetblue;
}

.award-names p{
  display:inline-block;
  margin:0px 2px;
}

@media only screen and (max-width: 1020px) {
  .logo-slogns{
    display:none;
  }
}

@media only screen and (max-width: 880px) {
  .award-names p:first-child{
    display:none;
    margin:0px;
  }
}

@media only screen and (max-width: 780px) {
  .Side-menu > *{
    display: none;
  } 
  .Side-menu > .Ham-box{
    display:block;
  } 
}
